<div>
    <form action="" [formGroup]="loginForm" class="login-form" (ngSubmit)="loginUser()">
        <label for="email">Email</label>
        <input name="email" [formControl]="emailInput" type="text" >
        <input [formControl]="passwordInput" type="text">
        <button type="submit">Submit</button>
    </form>

    {{emailInput.value}}
</div>